.nav-container{
  height: 60px;
  width: 100vw; 
  background-color: darkslategrey;
  color: white;
  display:flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
  padding:0 10px;
}

.nav-container li {
  list-style: none;
}